@charset "UTF-8";

/* 回答はここに書いてね */
.q6--horizontal .q6_text {
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.text-align {
  text-align: center;
}

.text-align .q6_text {
  display: inline-block;
}

.q6__box .q6_text {
  margin: 0 auto;
  text-align: center;
}

.table-box .table-text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.d-table {
  display: table;
}

.q6-table-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table-text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_text {
  padding: 10px;
  background-color: #fff;
}

.q6--position .q6__box {
  position: relative;
}

.position-stable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.position-flexible {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 回答はここに書いてね */
